* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #0a143a;
}
.container {
  max-width: 1146px;
  margin: auto;
}
.header {
  padding-top: 30px;
  padding-bottom: 40px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.navbar-menu {
  margin-right: auto;
}
.menu {
  display: flex;
  list-style: none;
  padding: 0px 22px;
}
.menu-item:not(:last-child) {
  margin: 0px 14px;
}
.menu-link {
  text-decoration: none;
  color: inherit;
}
.button-group {
  display: flex;
  align-items: center;
}
.button {
  text-decoration: none;
  display: block;
  cursor: pointer;
  padding: 10px 15px;
}
.button-link {
  color: inherit;
  margin-right: 5px;
}
.button-primary {
  color: #fff;
  border-radius: 5px;
  background-color: #256eeb;
}
.search-panel {
  height: 50px;
  border-radius: 5px;
  background-color: #256eeb;
  display: flex;
  padding: 3px;
}
.search-input {
  flex-grow: 1; /*Растяжение поля поиска на свободное место*/
  border-radius: 5px;
  background-color: #fff;
  border: none;
  padding: 0px 22px;
}
.search-button {
  background-color: #256eeb;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 17px;
}
.search-button-text {
  margin-left: 5px;
}
.page-content {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-column-gap: 30px;
}
.card-image {
  border-radius: 10px;
  width: 264px;
  height: 178px;
  object-fit: cover;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin-bottom: 20px;
}
.card:not(:nth-child(3n)) {
  margin-right: 20px;
}
.card-title {
  color: #256eeb;
  font-size: 16px;
  line-height: 19px;
  margin-top: 12px;
  margin-bottom: 5px;
  max-width: 207px;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.like {
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 15px;
}
.card-link {
  text-decoration: none;
}
.card-price {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
  display: block;
}
.card-text {
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-bottom: 4px;
  margin-top: 0px;
}
.sidebar .page-title {
  font-size: 18px;
  line-height: 21px;
}
.service {
  margin-bottom: 25px;
}
.service-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-top: 7px;
  margin-bottom: 5px;
}
.service-text {
  font-size: 14px;
  line-height: 16px;
  max-width: 231px;
}
.footer-text {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-bottom: 5px;
}
.footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}
.footer-link {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
}
.content {
  max-width: 460px;
  margin-right: 30px;
}
.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}
.mySwiper2 {
  width: 100%;
  border-radius: 10px;
}
.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  border-radius: 10px;
}
.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}
.content-text {
  font-size: 14px;
  line-height: 140%;
  color: #0a143a;
}
.single-price {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-top: 0px;
  margin-bottom: 25px;
  display: block;
}
.page-title {
  margin-top: 0px;
  margin-bottom: 25px;
}
.main-single {
  display: flex;
  align-items: flex-start;
}
.author {
  min-width: 264px;
}
.author-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 30px;
}
.author-avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.author-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin-bottom: 4px;
}
.rating {
  margin-bottom: 5px;
}
.rating-counter {
  font-size: 14px;
  line-height: 16px;
  color: #0a143a;
  opacity: 0.5;
  margin-left: 10px;
}
.author-status {
  font-size: 12px;
  line-height: 14px;
  color: #0a143a;
}
.button-block {
  display: block;
  width: 100%;
  height: 54px;
  margin-bottom: 14px;
  border: none;
}
.button-message {
  border-radius: 5px;
  background: #14b4be;
  color: #fff;
}
